.job-item {
    margin-bottom: 1cm;
    .job-title {
        text-align: center;
        margin-bottom: 0.3cm;
        .role {
            color: var(--green);
            font-size: small;
        }
        .company-name {
            color: var(--white-text);
            font-size: small;
            display: inline-block;
            margin-right: 5px;
        }
        .location {
            color: var(--gray-text);
            font-size: small;
            display: inline-block;
        }
    }
    .job-content {
        color: var(--gray-text);
        b {
            color: var(--white-text);
        }
        font-size: x-small;
        text-align: left;
    }
    .period {
        color: var(--blue);
        font-size: small;
    }
}