.education {
    .degree {
        color: var(--title-text);
        font-size: small;
    }
    .university {
        font-size: small;
        color: var(--highlighted-text);
    }
    .location {
        font-size: small;
        color: var(--default-text)
    }
}