.education {
    .degree {
        color: var(--dim-green);
        font-size: small;
    }
    .university {
        font-size: small;
        color: var(--white-text);
    }
    .location {
        font-size: small;
        color: var(--gray-text)
    }
}