.cv-component {
    width: 21cm;
    margin: 0 auto;
    padding: 1cm;
    background-color: var(--background);
    b {
        color: var(--white-text);
        font-weight: normal;
    }
}

html body {
    background-color: rgba(83, 86, 89, 1);
}