.cv-component {
    width: 21.59cm;
    margin: 0 auto;
    padding: 1cm;
    background-color: var(--background);
    b {
        color: var(--highlighted-text);
        font-weight: normal;
    }
}

@media print {
    body {
        background-color: var(--background) !important;
    }
}

html body {
    background-color: rgba(83, 86, 89, 1);
}