.collapsable {
    .collapsed-content {
        width: 100%;
        position: relative;
        padding-bottom: 0.2cm;
        .toggle-button {
            display: none;
            color: var(--white-text);
            font-size: x-small;
            margin: 0;
            position: absolute;
            top: 15%;
            left: 0;
            &.collapsed {
                display: inherit;
            }
        }
        &:hover {
            .toggle-button {
                display: inherit;
            }
        }
    }
    .expanded-content {
        border-left: 1px dashed var(--border-color);
        padding-left: 10px;
    }
    .content-hidden {
        font-size: xx-large;
        color: var(--gray-text);
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}