.collapsable {
    .collapsed-content {
        width: 100%;
        position: relative;
        padding-bottom: 0.2cm;
        .toggle-button {
            display: none;
            color: var(--white-text);
            font-size: x-small;
            margin: 0;
            position: absolute;
            bottom: 0;
            cursor: pointer;
            left: 0;
            &.collapsed {
                display: inherit;
            }
        }
        &:hover {
            .toggle-button {
                display: inherit;
            }
        }
    }
    .start,
    .end {
        color: var(--white-text);
        font-size: small;
    }
    .expanded-content {
        border-left: 1px dashed var(--border-color);
        padding-left: 10px;
    }
    .content-hidden {
        color: var(--gray-text);
        &:hover {
            cursor: pointer;
        }
    }
}