.jobs {
    p {
        margin-bottom: 0.5rem;
    }
    .job-item {
        margin-bottom: 1cm;
        .job-title {
            text-align: center;
            .role {
                color: var(--title-text);
                font-size: small;
            }
            .company-name {
                color: var(--highlighted-text);
                font-size: small;
                display: inline-block;
                margin-right: 5px;
            }
            .location {
                color: var(--default-text);
                font-size: small;
                display: inline-block;
            }
        }
        .job-content {
            color: var(--default-text);
            font-size: x-small;
            text-align: left;
        }
    }
}