.languages {
    .languages-content {
        font-size: smaller;
        color: var(--default-text);
        table {
            width: 100%;
            th {
                font-size: xx-small;
                color: var(--blue--text);
                text-align: center;
            }
            td {
                text-align: center;
            }
            .language-name {
                color: var(--highlighted-text)
            }
        }
        .clarification {
            color: var(--comment-text);
            font-size: xx-small
        }
    }
}